<header>
  <nav class="navbar navbar-dark">
    <div class="container">
      <a class="navbar-brand logo" href="/">
        <img src="/images/dream-catcher.png" width="75" height="75" class="d-inline-block align-top" alt="">
        Dream Catcher
      </a>
      <button id="back" class="btn btn-primary nav-link p2">Go Back</button>
    </div>
  </nav>
</header>
<main class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col-sm-8">
      <div class="card bg-light mb-3">
        <div class="card-header">
          <h5>Edit Dream</h5>
        </div>
        <div class="card-body">
          <form id="edit">
          {{#each dream}}
            <h5 class="edit" id="{{category_id}}"><span class="badge">{{category_name}}</span></h5>
            <div class="row container">
              <p class="text-danger"><span id="edit-error">Description cannot be blank.</span></p>
            </div>
            <div class="row">
              <div class="form-group col">
                <select class="custom-select" id="type">
                  <option selected>Change Category</option>
                  <option value="1">Normal</option>
                  <option value="2">Daydream</option>
                  <option value="3">Lucid</option>
                  <option value="4">Vivid</option>
                  <option value="5">Nightmare</option>
                  <option value="6">Prophetic</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col">
                <label for="description">Description</label>
                <textarea class="form-control" id="text" rows="5">{{description}}</textarea>
              </div>
            </div>
            <button value="{{id}}" href="#" type="submit" class="btn btn-primary">Submit</button>
            {{/each}}
          </form>
        </div>
      </div>
      <div style="height: 5vh;"></div>
    </div>
  </div>
</main>
<footer class="navbar navbar-dark" style="background-color: rgb(53, 51, 57)">
  <div class="container">
    <span class="navbar-text">
      <p>A journal for your dreams. 🌙</p>
      <small>© 2017 Maria Jose Mata</small>
      <br>
      <small>Icon by <a href="http://www.freepik.com" target="_blank">Freepik</a>
        from <a href="https://www.flaticon.com/" target="_blank">Flaticon</a>
        licensed by <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">
        CC 3.0 BY</a></small>
    </span>
    <nav class="nav">
      <a class="nav-link" href="https://github.com/maria-mata/dream-catcher" target="_blank">GitHub Repo</a>
      <!-- <a class="nav-link" href="https://mjmata.com/" target="_blank">Portfolio</a> -->
    </nav>
  </div>
</footer>
