<header>
  <nav class="navbar navbar-dark">
    <div class="container">
      <a class="navbar-brand logo" href="./">
        <img src="/images/dream-catcher.png" width="75" height="75" class="d-inline-block align-top" alt="">
        Dream Catcher
      </a>
      <button id="back" class="btn btn-primary nav-link p2">Go Back</button>
    </div>
  </nav>
</header>
<main class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col-sm-8">
      <div class="card bg-light mb-3">
        <div class="card-header">
          <h5>Edit Dream</h5>
        </div>
        <div class="card-body">
          <form id="edit-dream">
            <div class="row">
              <div class="form-group col">
                <select class="custom-select" id="type">
                  <option selected>Change Category</option>
                  <option value="1">Normal</option>
                  <option value="2">Daydream</option>
                  <option value="3">Lucid</option>
                  <option value="4">Vivid</option>
                  <option value="5">Nightmare</option>
                  <option value="6">Prophetic</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col">
                <label for="description">Description</label>
                <textarea class="form-control" id="text" rows="5"></textarea>
              </div>
            </div>
            <button href="#" type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      <div style="height: 5vh;"></div>
    </div>
  </div>
</main>
<footer>
  <div class="navbar navbar-dark" style="background-color: rgb(53, 51, 57)">
    <div class="container">
      <span class="navbar-text">
        <p>A journal for your dreams. 🌙</p>
        <small>© 2017 Maria Jose Mata</small>
      </span>
      <nav class="nav">
        <a class="nav-link" href="https://github.com/maria-mata/dream-catcher" target="_blank">GitHub Repo</a>
        <a class="nav-link" href="https://mjmata.com/" target="_blank">Portfolio</a>
      </nav>
    </div>
  </div>
</footer>
