<header>
  <nav class="navbar navbar-dark">
    <div class="container">
      <div class="col-sm-12" align="center">
        <a class="navbar-brand logo" href="./">
          <img src="./images/dream-catcher.png" width="75" height="75" class="d-inline-block align-top" alt="">
          Dream Catcher
        </a>
      </div>
    </div>
  </nav>
</header>
<main class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col-sm-10">
      <div class="card bg-light mb-3">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#login">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#signup">Sign Up</a>
            </li>
          </ul>
        </div>
        <div class="card-body index">
          <div class="tab-content">
            <div class="tab-pane active" id="login" role="tabpanel">
              <form id="login-form">
                <div class="row container">
                  <p class="text-danger"><span id="login-error">Invalid username
                    or password.</span></p>
                </div>
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="username">
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="password">
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
              </form>
            </div>
            <div class="tab-pane" id="signup" role="tabpanel">
              <form id="signup-form">
                <div class="row container">
                  <p class="text-danger"><span id="signup-error">Email or username
                    already in use.</span></p>
                </div>
                <div class="row">
                  <div class="form-group col-sm-4">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="email@example.com">
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="username-new">Username</label>
                    <input type="text" class="form-control" id="username-new" placeholder="username">
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="password-new">Password</label>
                    <input type="password" class="form-control" id="password-new" placeholder="password">
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="navbar fixed-bottom navbar-dark" style="background-color: rgb(53, 51, 57)">
    <div class="container">
      <span class="navbar-text">
        <p>A journal for your dreams. 🌙</p>
        <small>© 2017 Maria Jose Mata</small>
      </span>
      <nav class="nav">
        <a class="nav-link" href="#">GitHub Repo</a>
        <a class="nav-link" href="#">Portfolio</a>
      </nav>
    </div>
  </div>
</footer>
