body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('../images/stardust.png');
  background-repeat: repeat;}

div.brand a {
  padding: .2em;
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
}

a.navbar-brand, .tagline {
  color: white;
}

.tagline {
  font-size: 1.3em;
}

div.row {
  max-height: 55vh;
  overflow: scroll;
}
