body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('../images/stardust.png');
  background-repeat: repeat;
}

a.navbar-brand.logo {
  padding: 0.5em 0;
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  font-weight: bold;
}

.home-space {
  height: 2vh;
}

#login-error, #signup-error {
  display: none;
}

a.navbar-brand {
  color: white;
}

a.nav-link {
  color: rgba(255,255,255,.5);
}

a.nav-link.active {
  background-color: inherit !important;
  border-bottom-color: rgb(246, 247, 249) !important;
}

.card a {
  color: #8000FF;
  font-weight: bold !important;
}

.card-body.main {
  height: 65vh;
  overflow: scroll;
}

.card-header {
  background: none;
}

.btn.btn-primary, .badge {
  background-color: #8000FF;
  border: none;
}

.tagline {
  font-size: 1.3em;
}
